@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body {
  padding-top: 80px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

/* Global nav
 */
.navbar-nav.navbar-right { padding-right: 15px; }

.nav-up {
  top: -50px;
  transition: top 500ms ease;
}

.nav-down {
  top: 0;
  transition: top 500ms ease;
}

.feedback {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.sk-fading-circle {
  margin-top: 6px;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  position: relative;
}

.sk-fading-circle.ng-hide {
  opacity: 0;
  transition: opacity 500ms ease;
}
.sk-fading-circle {
  opacity: 1;
  transition: opacity 500ms ease;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

/*.fader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  opacity: 1;
  transition: all 500ms ease;
}

.fader.ng-hide {
  opacity: 0.3;
  transition: all 50ms ease;
}*/

/* Login
 */
 .wrap {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -100;
   background-color: #dcdcdc;
   background-image: url("../img/concrete_seamless.png");
   background-repeat: repeat;
 }

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  margin: 0;
}

/* List/Table
 */

.label-new:before { content: "New"; }
.label-arrival:before { content: "Arrival"; }
.label-green:before { content: "Green"; }
.label-initial:before { content: "Initial"; }
.label-production:before { content: "Production"; }

.btn-circle { border-radius: 30px; }
.btn-circle-lg { border-radius: 100%; }

.table td:first-child,
.table th:first-child {
  padding-left: 16px;
}

.table td:last-child,
.table th:last-child {
  padding-right: 14px;
}

.table-hover:hover { cursor: pointer; }
.form.navbar-form { padding: 0; }
.table-heading th:first-child { width: 25%; }
.table-heading th:nth-child(2) { padding-left: 10px; width: 7%; }
.table-heading th:nth-child(3) { padding-left: 10px; width: 16%; }
.table-heading th:nth-child(4) { padding-left: 10px; width: 20%; }
.table-heading th:nth-child(5) { padding-left: 10px; width: 12%; }
.table-heading th:nth-child(6) { padding-left: 10px; width: 10%; }
.table-add.btn-group { width: 100%; }
.table-add .btn { width: 100%; }
.table-add .dropdown-menu { min-width: 0; width: 100%; }
.table .table-lot td:nth-child(n+2) { padding-left: 10px; }

/* View
 */

.lot-tabs { margin-bottom: 10px; }
.lot-nav { margin-top: 40px; }
.lot-textarea { width: 9%; }
textarea { resize: none; }
