<!doctype html>
<html lang="en" ng-app="roastlab">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>RoastLab</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>

<body>

  <!-- <div class="fader" data-ng-show="loading"></div> -->
  <nav class="navbar navbar-default navbar-fixed-top" ng-controller="globalController" ng-class="loggedIn ? 'nav-down' : 'nav-up'">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/">
              <strong>roastlab</strong><small>cupping</small>
              <div ng-show="loading" class="sk-fading-circle pull-right">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
              </div>
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text">
                <small>Signed in as
                  <strong>{{user}}</strong>
                </small>
              </p>
            </li>
            <li>
              <button type="button" class="btn btn-sm btn-danger navbar-btn" ng-click="userLogout()">
                <i class="fa fa-sign-out fa-fw"></i>logout
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div ui-view></div>
  </div>

  <div ng-show="loggedIn" class="feedback" ng-controller="globalController">
    <button class="btn btn-primary" data-toggle="modal" data-target="#feedback"><i class="fa fa-send"></i> Feedback</button>
  </div>
  <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedback" ng-controller="globalController">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Feedback">Tell me what you think</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Module</label>
              <div class="col-sm-10">
                <select ng-model="feedback.module" class="form-control">
                  <option>Login</option>
                  <option>Dashboard</option>
                  <option>Lot</option>
                  <option>Map</option>
                  <option>Assesments</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Message</label>
              <div class="col-sm-10">
                <textarea rows="5" ng-model="feedback.content" class="form-control"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="sendFeedback(feedback)" data-dismiss="modal">Send</button>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/js/vendor/angular.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/angular-route.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/angular-animate.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/angular-ui-router.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/ui-bootstrap-0.14.3.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/ng-map.js" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6ZQeONoEDO9_LOVowBDy2Qbo2P79TxpM&libraries=places,drawing,geometry," type="text/javascript"></script>
  <script src="app.js" type="text/javascript"></script>
  <script src="modules/controllers/login.controller.js" type="text/javascript"></script>
  <script src="modules/controllers/dash.controller.js" type="text/javascript"></script>
  <script src="modules/controllers/lot.controller.js" type="text/javascript"></script>
  <script src="modules/services/loading.service.js" type="text/javascript"></script>
  <script src="modules/services/lot.service.js" type="text/javascript"></script>
  <script src="modules/services/login.service.js" type="text/javascript"></script>
  <script src="modules/services/geo.service.js" type="text/javascript"></script>
  <script src="modules/directives/tabs.directive.js" type="text/javascript"></script>
  <script src="modules/directives/places.directive.js" type="text/javascript"></script>
  <script src="modules/constants/user.constants.js" type="text/javascript"></script>
  <script src="modules/filters/date.filter.js" type="text/javascript"></script>
  <script src="modules/filters/label.filter.js" type="text/javascript"></script>
</body>

</html>
