<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <table class="table table-hover">
        <tr>
          <td>Name</td>
          <td>
            <strong>{{view.lot.name}}</strong>
          </td>
        </tr>
        <tr>
          <td>Assignment</td>
          <td>
            <strong>{{view.lot.assignment}}</strong>
          </td>
        </tr>
        <tr>
          <td>Origin</td>
          <td>
            <strong>{{view.lot.origin}}</strong>
          </td>
        </tr>
        <tr>
          <td>Farmer</td>
          <td>
            <strong>{{view.lot.farmer}}</strong>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-6" ng-show="!view.isEmpty(view.lot.metrics)">
    <div class="panel panel-default">
      <table class="table table-hover">
        <tr ng-show="!view.isEmpty(view.lot.metrics.cropId)">
          <td>Cropster ID</td>
          <td>{{view.lot.metrics.cropId}}</td>
        </tr>
        <tr ng-show="!view.isEmpty(view.lot.metrics.lotNo)">
          <td>Lot Number</td>
          <td>{{view.lot.metrics.lotNo}}</td>
        </tr>
        <tr ng-show="!view.isEmpty(view.lot.metrics.lotSz)">
          <td>Lot Size</td>
          <td>{{view.lot.metrics.lotSz}}</td>
        </tr>
        <tr ng-show="!view.isEmpty(view.lot.metrics.bCode)">
          <td>Bennet Code</td>
          <td>{{view.lot.metrics.bCode}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row" ng-show="!view.isEmpty(view.lot.info)">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <table class="table table-hover">
        <tr ng-show="!view.isEmpty(view.lot.info.connection)">
          <td class="lot-textarea">Relationship</td>
          <td>{{view.lot.info.connection}}</td>
        </tr>
        <tr ng-show="!view.isEmpty(view.lot.info.history)">
          <td class="lot-textarea">History</td>
          <td>{{view.lot.info.history}}</td>
        </tr>
        <tr ng-show="!view.isEmpty(view.lot.info.production)">
          <td class="lot-textarea">Production</td>
          <td>{{view.lot.info.production}}</td>
        </tr>
        <tr ng-show="!view.isEmpty(view.lot.info.comments)">
          <td class="lot-textarea">Comments</td>
          <td>{{view.lot.info.comments}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <ng-map id="map">
      </ng-map>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-3">
    <div class="panel panel-default">
      <table class="table table-hover">
        <tr>
          <td>Coordinates</td>
          <td>{{view.lot.geo.lat | number: 1}}, {{view.lot.geo.lng | number: 1}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-default">
      <table class="table table-hover">
          <td>Altitude</td>
          <td>{{view.lot.geo.altitude | number: 0}}m</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-default">
      <table class="table table-hover">
        <tr>
          <td>Climate</td>
          <td>{{view.lot.geo.climate}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-3" ng-show="!view.isEmpty(view.visits)">
    <div class="panel panel-default">
      <table class="table table-hover">
        <tr>
          <td>Visits</td>
          <td>
            <div class="btn-group" style="width: 100%;">
              <button style="width: 100%;" aria-expanded="false" aria-haspopup="true" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                {{view.visits[0].date | date : 'MMMM dd yy'}}
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="visit in view.visits">
                  <a>{{visit.date | date : 'MMMM dd yy'}}</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
