<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-success">
      <table class="table table-hover">
        <tr>
          <td>Name</td>
          <td>
            <input class="form-control input-sm" ng-model="view.lot.name" type="text" value="{{::view.lot.name}}"/>
          </td>
        </tr>
        <tr>
          <td>Assignment</td>
          <td>
            <select class="form-control input-sm" ng-model="view.lot.assignment" type="text">
              <option value="Unassigned">Unassigned</option>
              <option value="Filter">Filter</option>
              <option value="Espresso">Espresso</option>
              <option value="Sample">Sample</option>
              <option value="Filter/Espresso">Filter/Espresso</option>
              <option value="Green Sales">Green Sales</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Origin</td>
          <td>
            <select class="form-control input-sm" ng-model="view.lot.country" type="text">
              <option disabled selected value="">Origin</option>
              <option value="Colombia">Colombia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Kenya">Kenya</option>
              <option value="Honduras">Honduras</option>
              <option value="Guatemala">Guatemala</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Farmer</td>
          <td>
            <input class="form-control input-sm" ng-model="view.lot.farmer" type="text" value="{{::view.lot.farmer}}"/>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-success">
      <table class="table table-hover">
        <tr>
          <td>Cropster ID</td>
          <td>
            <input class="form-control input-sm" ng-model="view.lot.metrics.cropId" type="text" value="{{::view.lot.metrics.cropId}}"/>
          </td>
        </tr>
        <tr>
          <td>Lot Number</td>
          <td>
            <input class="form-control input-sm" ng-model="view.lot.metrics.lotNo" type="text" value="{{::view.lot.metrics.lotNo}}"/>
          </td>
        </tr>
        <tr>
          <td>Lot Size</td>
          <td>
            <input class="form-control input-sm" ng-model="view.lot.metrics.lotSz" type="text" value="{{::view.lot.metrics.lotSz}}"/>
          </td>
        </tr>
        <tr>
          <td>Bennet Code</td>
          <td>
            <input class="form-control input-sm" ng-model="view.lot.metrics.bCode" type="text" value="{{view.lot.metrics.bCode}}"/>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-success">
      <table class="table table-hover">
        <tr>
          <td class="lot-textarea">Relationship</td>
          <td><textarea class="form-control input-sm" rows="4" ng-model="view.lot.info.connection" type="text" value="{{::view.lot.info.connection}}"/></textarea></td>
        </tr>
        <tr>
          <td class="lot-textarea">History</td>
          <td><textarea class="form-control input-sm" rows="4" ng-model="view.lot.info.history" type="text" value="{{::view.lot.info.history}}"/></textarea></td>
        </tr>
        <tr>
          <td class="lot-textarea">Production</td>
          <td><textarea class="form-control input-sm" rows="4" ng-model="view.lot.info.production" type="text" value="{{::view.lot.info.production}}"/></textarea></td>
        </tr>
        <tr>
          <td class="lot-textarea">Comments</td>
          <td><textarea class="form-control input-sm" rows="4" ng-model="view.lot.info.comments" type="text" value="{{::view.lot.info.comments}}"/></textarea></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-success">
      <table class="table table-hover">
        <tr>
          <td>Visits</td>
          <td>
            <div class="input-group">
              <input type="date" class="form-control" uib-datepicker-popup ng-model="view.date" is-open="view.status.opened" date-disabled="disabled(date, mode)" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-success" ng-click="view.addVisit(view.date)"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-default" ng-click="view.open($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </td>
        </tr>
        <tr ng-show="!view.isEmpty(view.visits)" ng-repeat="visit in view.visits">
          <td>&nbsp;</td>
          <td>{{visit.date | date}}<a class="btn btn-sm btn-link pull-right" ng-click="view.removeVisit($index)"><span aria-hidden="true" class="fa fa-remove"></span></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<button class="btn btn-sm btn-primary" ng-click="view.update(view.lot)">Update</button> <button class="btn btn-sm btn-danger" ng-click="view.edit()">Cancel</button> <button class="btn btn-sm btn-success pull-right" ng-click="view.addAssesment()" ng-show="view.editing">Add Assesment</button>
