<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Arrival Cupping Information
      </div>
      <table class="table table-condensed table-hover">
        <tr>
          <td>Cupping Date</td>
          <td></td>
        </tr>
        <tr>
          <td>Roast Date</td>
          <td></td>
        </tr>
        <tr>
          <td>Status</td>
          <td></td>
        </tr>
        <tr>
          <td>Roasted By</td>
          <td></td>
        </tr>
        <tr>
          <td>Roasting Equipment</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Arrival Cupping Information
      </div>
      <table class="table table-condensed table-hover">
        <tr>
          <td>PR Code</td>
          <td></td>
        </tr>
        <tr>
          <td>TDS</td>
          <td></td>
        </tr>
        <tr>
          <td>EXT %</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Comments
      </div>

    </div>
  </div>

</div>

<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Dry Aroma
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Wet Aroma
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Comments
        </div>
      </div>
    </div>
  </div>

</div>
