<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <!-- Filters & Search -->
      <div class="panel-heading">
        <ul class="nav nav-pills">
          <li>
            <input class="form-control input-sm" ng-model="search" placeholder="Search" type="text">
          </li>
          <li>
            <div class="btn-group">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                {{filter.rating == null ? 'Rating' : filter.rating}}
                &nbsp;
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a ng-click="filter.rating = '1'">1</a>
                </li>
                <li>
                  <a ng-click="filter.rating = '2'">2</a>
                </li>
                <li>
                  <a ng-click="filter.rating = '3'">3</a>
                </li>
                <li>
                  <a ng-click="filter.rating = '4'">4</a>
                </li>
                <li>
                  <a ng-click="filter.rating = '5'">5</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                {{filter.assignment == null ? 'Assignment' : filter.assignment}}
                &nbsp;
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a ng-click="filter.assignment = 'Unassigned'">Unassigned</a>
                </li>
                <li>
                  <a ng-click="filter.assignment = 'Filter'">Filter</a>
                </li>
                <li>
                  <a ng-click="filter.assignment = 'Espresso'">Espresso</a>
                </li>
                <li>
                  <a ng-click="filter.assignment = 'Sample'">Sample</a>
                </li>
                <li>
                  <a ng-click="filter.assignment = 'Filter/Espresso'">Filter/Espresso</a>
                </li>
                <li>
                  <a ng-click="filter.assignment = 'Green Sales'">Green Sales</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                {{filter.origin == null ? 'Origin' : filter.origin}}
                &nbsp;
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a ng-click="filter.origin = 'Colombia'">Colombia</a>
                </li>
                <li>
                  <a ng-click="filter.origin = 'Ethiopia'">Ethiopia</a>
                </li>
                <li>
                  <a ng-click="filter.origin = 'Kenya'">Kenya</a>
                </li>
                <li>
                  <a ng-click="filter.origin = 'Honduras'">Honduras</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                {{filter.state == null ? 'Assesment' : state.assesment}}
                &nbsp;
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a ng-click="filter.state = '0'; state.assesment = 'New'">New</a>
                </li>
                <li>
                  <a ng-click="filter.state = '1'; state.assesment = 'Green'">Green</a>
                </li>
                <li>
                  <a ng-click="filter.state = '2'; state.assesment = 'Arrival'">Arrival</a>
                </li>
                <li>
                  <a ng-click="filter.state = '3'; state.assesment = 'Initial'">Initial</a>
                </li>
                <li>
                  <a ng-click="filter.state = '4'; state.assesment = 'Production'">Production</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button class="btn btn-sm btn-info" ng-click="filter = '' " ng-init="filter = '' " ng-show="filter != '' ">Reset</button>
          </li>
          <li class="pull-right">
            <button class="btn btn-circle btn-sm btn-success" ng-click="addLot = true" ng-show="!addLot">
              <span aria-hidden="true" class="fa fa-plus"></span>
            </button>
            <button class="btn btn-circle btn-sm btn-danger" ng-click="addLot = false" ng-show="addLot">
              <span aria-hidden="true" class="fa fa-remove"></span>
            </button>
          </li>
        </ul>
      </div>
      <!-- /Filters & Search -->

      <!-- Table -->
      <table class="table table-condensed table-hover">
        <thead>
          <tr class="table-heading">
            <th class="warning">Name</th>
            <th class="info">Rating</th>
            <th>Assignment</th>
            <th>Origin</th>
            <th>Farmer</th>
            <th>Added</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <!-- Quick Add Item -->
          <form class="form">
            <tr ng-init="addLot = false" ng-show="addLot">
              <td class="warning"><input autofocus class="form-control input-sm" ng-model="lot.name" placeholder="Name" type="text"/></td>
              <td class="info">
                <div class="btn-group table-add">
                  <button aria-expanded="false" aria-haspopup="true" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    {{lot.rating == null ? '--' : lot.rating}}
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a ng-click="lot.rating = '1'">1</a>
                    </li>
                    <li>
                      <a ng-click="lot.rating = '2'">2</a>
                    </li>
                    <li>
                      <a ng-click="lot.rating = '3'">3</a>
                    </li>
                    <li>
                      <a ng-click="lot.rating = '4'">4</a>
                    </li>
                    <li>
                      <a ng-click="lot.rating = '5'">5</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="btn-group table-add">
                  <button aria-expanded="false" aria-haspopup="true" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    {{lot.assignment == null ? '--' : lot.assignment}}
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a ng-click="lot.assignment = 'Unassigned'">Unassigned</a>
                    </li>
                    <li>
                      <a ng-click="lot.assignment = 'Filter'">Filter</a>
                    </li>
                    <li>
                      <a ng-click="lot.assignment = 'Espresso'">Espresso</a>
                    </li>
                    <li>
                      <a ng-click="lot.assignment = 'Sample'">Sample</a>
                    </li>
                    <li>
                      <a ng-click="lot.assignment = 'Filter/Espresso'">Filter/Espresso</a>
                    </li>
                    <li>
                      <a ng-click="lot.assignment = 'Green Sales'">Green Sales</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <input class="form-control input-sm" ng-model="lot.origin" type="text"  placeholder="Origin" googleplace/>
              </td>
              <td><input class="form-control input-sm" ng-model="lot.farmer" placeholder="Farmer" type="text"/></td>
              <td>{{list.date | date}}</td>
              <td>
                <button class="btn btn-sm btn-link pull-right" ng-click="list.createLot(lot)">
                  <span aria-hidden="true" class="fa fa-check"></span>
                </button>
              </td>
            </tr>
          </form>
          <!-- /Quick Add Item -->
        <!-- List Items -->
        <tr class="table-lot" ng-repeat="lot in list.lots | orderBy: '-added' | filter: filter | filter: search">
          <td class="warning">
            <strong>{{lot.name}}</strong>
            <span class="{{::lot.state | label}} pull-right"> </span>
          </td>
          <td class="info">{{lot.rating}}</td>
          <td>{{lot.assignment}}</td>
          <td>{{lot.country}}</td>
          <td>{{lot.farmer}}</td>
          <td>{{lot.added | dateConvert}}</td>
          <td>
            <a class="btn btn-sm btn-link pull-right" ui-sref="lot({id: lot._id})">
              <span aria-hidden="true" class="fa fa-search"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="panel-footer"></div>
    </div>
    <!-- /Table -->
  </div>
</div>
