<div class="wrap">
  <div class="login">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">roastlab</h3>
      </div>
      <div class="panel-body">
        <form class="form">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control input-sm" ng-model="login.username" type="text" placeholder="Username" aria-describedby="email-suffix" />
              <span class="input-group-addon" id="email-suffix">@smallbatch.com.au</span>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control input-sm" ng-model="login.password" type="password" placeholder="Password" />
          </div>
          <button class="btn btn-sm btn-block btn-success" ng-click="login.userLogin()" type="submit">Sign in</button>
        </form>
      </div>
    </div>
      <pre>beta version</pre>
  </div>
</div>
