<!-- Lot Header -->
<div class="row">
  <div class="col-xs-10">
    <h3>
      <strong>{{::view.lot.name}}</strong>
    </h3>
    <p>
      <span class="{{::view.lot.state | label}}"> </span>
      <small>
        &nbsp;
        <i class="fa fa-calendar-o fa-fw" tooltip-placement="bottom" uib-tooltip="Added {{::view.lot.added | dateConvert}}"></i>{{::view.lot.added | date}}
        <i class="fa fa-user fa-fw" tooltip-placement="bottom" uib-tooltip="Added By {{::view.lot.addedBy}}"></i>{{::view.lot.addedBy}}
      </small>
    </p>
  </div>
</div>
<!-- /Lot Header -->

<!-- Tabs -->
<div class="row">

  <div class="col-md-10">
    <tabs>
      <panes title="Details">
        <div ng-include src="'views/partials/details.view.html'" ng-show="!view.editing"></div>
        <div ng-include src="'views/partials/details.edit.html'" ng-show="view.editing"></div>
      </panes>

      <panes ng-repeat="a in view.assesments" title="{{a.name}}">
        <div ng-include="a.url"></div>
      </panes>

      <!-- <panes title="Green">
        <div ng-include src="'views/partials/green.view.html'"></div>
      </panes>

      <panes title="Arrival">
        <div ng-include src="'views/partials/arrival.view.html'"></div>
      </panes>

      <panes title="Initial">
        <div ng-include src="'views/partials/initial.view.html'"></div>
      </panes>

      <panes title="Production">
        <div ng-include src="'views/partials/production.view.html'"></div>
      </panes> -->
    </tabs>
  </div>

  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked lot-nav">
      <li>
        <a href ng-click="view.home()"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a>
      </li>
      <li ng-class="{'active': view.editing == true}">
        <a href ng-click="view.edit()"><i class="fa fa-edit fa-fw"></i>&nbsp;Edit</a>
      </li>
      <li>
        <a href ng-click="view.remove(view.lot._id)"><i class="fa fa-trash-o fa-fw"></i>&nbsp;Delete</a>
      </li>
      <li class="disabled">
        <a href ><i class="fa fa-file-pdf-o fa-fw"></i>&nbsp;Export</a>
      </li>
      <li class="disabled">
        <a href ><i class="fa fa-envelope-o fa-fw"></i>&nbsp;Send</a>
      </li>
    </ul>
  </div>

</div>
<!-- /Tabs -->
